# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model files
models/
*.h5

# Uploaded files
uploads/
uploads/images/
uploads/videos/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Jupyter
.ipynb_checkpoints/
